* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-weight: 500;
}

.main-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #970fff;
  border-radius: 0.5rem;
}

.para {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
  color: #ffcb0f;
  margin-bottom: 2rem;
}

form {
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffcb0f;
  padding: 0.5rem;
}

input {
  height: 2.5rem;
  font-size: 1.5rem;
}

button {
  display: block;
  margin: 2rem auto;
  width: 15%;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: .2rem;
  background-color:#ff0f77;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}